html
body
  height: 100%
  margin: 0
  overflow: hidden

.dawn
  position: relative
  counter-reset: dawn
  font-family: Montserrat,Helvetica

  for i in 1..n
    > section
      article:nth-of-type({i})
      label:nth-of-type({i})
        top: (i - 1) * 55%

    input[name=atomic]:nth-child({i}):checked
      & ~ nav .atomic
        li:nth-child(-n+{i - 1}):before
          content: '✓'

        li:hover:before
          content: ''

        li:nth-child({i})
          color: white

      & ~ section
        top: 77.5% + i * -55

        label:nth-of-type({i - 1})
          top: -22.5% + (i - 1) * 55

  &.hide
    article, label
      opacity: 0

  &.show
    article, label
      opacity: 1

  > section
    color: text
    height: 100%
    left: 10%
    position: fixed
    text-align: center
    top: 22.5%
    transition: all 1s cubic-bezier(0.770, 0.000, 0.175, 1.000)
    width: 80%

    label
      height: 7.5%
      position: absolute
      left: 0
      width: 100%
      z-index: 1

  > nav
    background: text
    background-clip: padding-box
    border-top: 30px solid transparent
    bottom: 0
    height: 15%
    left: 0
    position: fixed
    transition: all 1s ease
    width: 100%
    z-index: 1

    &.hide
      bottom: -15%

      &:hover
        border-top: 1px solid transparent
        bottom: -12%

    &.show
      bottom: 0

  .atomic
    bottom: 0
    position: absolute

  > iframe
    position: absolute

  > section article
    background: bg
    position: absolute
    border-radius: 10px 50px 10px
    height: height
    transition: all .2s ease
    width: 100%

    &:before
      background-color: text
      border-radius: 50%
      color: bg
      content: counter(dawn)
      counter-increment: dawn
      font-size: 16px
      height: 19px
      left: 10px
      padding-top: 1px
      position: absolute
      top: 10px
      width: 20px
