/* dimensions of elements in Atomic */
size = 140px
electron = round(size / (1 + 5 ** .5))
orbital = round(size / 17)
font = round(size / 10)
total = size + 2 * orbital
n = 9
external = true

/* colors */
text = #ECF0F1
border = text
inner = #7F8C8D
bg = rgba(51, 51, 51, 0.96)
highlight = bg

/* dimension of the articles */
height = 50%
