/* dimensions of elements in Atomic */
size = 100px
electron = round(size / (1 + 5 ** .5))
orbital = round(size / 17)
font = round(size / 10)
total = size + 2 * orbital
n = 9

/* colors */
border = #1AAC9C
inner = #34495E
bg = rgba(51, 51, 51, 0.96)
text = #ECF0F1

/* dimension of the articles */
height = 40%
